<div style="background: pink;"><marquee><h1 style="color: blue;">Medicine Delivary</h1></marquee></div>
<hr style="height: 3px; color: black;">
<h2 style="text-align: center;">This is our 4th semester project in Angular under guidance of <u style="color: brown;">Debojyoti Majumdar</u></h2>
<br> <br>
<h3 style="text-align: center;">Group members</h3>
<p>
   <b> Name </b>:  Nabanita Roy <br>
    <b> Roll </b>:  91/MCA/190002 <br>
    <b> Reg no </b>:D01-1212-0042-19 <br>
    <b> Sem </b>:   MCA 4th sem <br><br>

    <b> Name </b>:  Akash Patra<br>
    <b> Roll </b>:  91/MCA/190015<br>
    <b> Reg no </b>:432-1121-0869-15 <br>
    <b> Sem </b>:   MCA 4th sem <br><br>

    <b> Name </b>:  Ria Sao <br>
    <b> Roll </b>:  91/MCA/190017 <br>
    <b> Reg no </b>:D01-1211-0049-19 <br>
    <b> Sem </b>:   MCA 4th sem  <br><br>

    <b> Name </b>:  Jiban Sarkar <br>
    <b> Roll </b>:  91/MCA/190018 <br>
    <b> Reg no </b>:D01-1112-0043-19 <br>
    <b> Sem </b>:   MCA 4th sem
    

</p>


